/* reset css start */
*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
}
img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}
input, button, textarea, select {
    font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}
ul, li {
    list-style: none;
    padding: 0;
    margin: 0;
}
/* reset css end */

/* root start */
:root {
    --first-color: rgb(18, 55, 64);
    --first-color-25: rgba(18, 55, 64, 0.25);
    --first-color-75: rgba(18, 55, 64, 0.75);
    --second-color: rgb(84, 154, 171);
    --second-color-50: rgba(84, 154, 171, 0.55);
    --second-color-25: rgba(84, 154, 171, 0.25);
    --second-color-10: rgba(84, 154, 171, 0.10);
    --third-color: rgb(176, 215, 225);
    --third-color-50: rgba(176, 215, 225, 0.5);
    --third-color-25: rgba(176, 215, 225, 0.25);
    --active-color: rgb(241, 128, 45);
    --active-color-25: rgb(241, 128, 45, 0.25);
    --red: rgb(236, 54, 67);
    --green: rgb(67, 160, 71);

    --base-font-size: 16px;

    /* 3 MOD --> 6/12/20 card */
    --column-count: 3; /* 3/4/5 column */
    --row-count: calc(var(--column-count) - 1);
    --bar2-count: 5;
    --bar-count: 5;
    --sellerman: "none";
    --button-count: 5;
}
/* root end */

html {
    font-size: var(--base-font-size); /* 1rem */
}

body {
    width: 100vw;
    height: 100dvh;
    margin: 0;
    padding: 0;
    background-color: #fff;
    font-family: "Krona One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

/* general start */
.flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}
.threeDots {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    overflow-wrap: break-word;
}
.truncatedText2 {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    line-clamp: 2;
}
/* general end */

/* content start */
#content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}
#electionSide {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 70%;
}
#transactionSide {
    display: flex;
    flex-direction: column;
    width: calc(30% - 100px);
}
#buttonsSide {
    transition: all 200ms ease-in-out;
    width: 100px;
    height: 100%;
    padding: 48px 4px 24px 4px;
    background-color: var(--first-color-75);
    border: 2px solid var(--first-color);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#content.full #electionSide{
    width: 74%;
}
#content.full #transactionSide{
    width: 26%;
}
#content.full #buttonsSide{
    width: 0;
    border: none;
    padding: 0;
}
/* content end */

/* buttonsSide start */
#buttonsSide nav {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
#settingsDiv {
    width: 100%;
    display: flex;
    flex-direction: column;
}
#buttonsSide nav button {
    font-size: 2.2rem;
    width: 100%;
    padding: 6px 0;
    border: none;
    background-color: transparent;
    color: white;
    margin-top: 12px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#buttonsDiv {
    width: 100%;
}
#buttonsDiv button span {
    max-width: 100%;
    font-size: 0.8rem;
    margin-top: 8px;
}
#buttonsDiv button.buttonsPagination {
    color: var(--active-color);
    font-size: 3rem;
}
#buttonsDiv button.buttonsPagination:first-child {
    margin-top: 0;
}
.dummy-button {
    visibility: hidden;
}
/* buttonsSide end */

/* topBar start */
#topBar {
    width: 100%;
    padding: 25px 10px;
    background-color: var(--first-color);
    display: flex;
    align-items: center;
    justify-content: space-around;
}
#topBar .generalInfos {
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
#topBar .generalInfos h2 {
    color: #fff;
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 2px;
}
#topBar .generalInfos div {
    width: 100%;
    padding: 16px 8px;
    background-color: #fff;
    color: #000;
    font-size: 1.5rem;
    border: 4px solid var(--second-color);
    box-shadow: 0 3px 3px 2px var(--second-color-25);
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* topBar end */

/* productList start */
#productList {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#cardContainer {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-between; */
    padding: 2px;
    margin: -8px;
}
#cardContainer .productCard {
    position: relative;
    width: calc((100% / var(--column-count)) - 20px);
    height: calc((100% / var(--row-count)) - 20px); 
    margin: 10px;
    border: 2px solid var(--second-color);
    border-radius: 6px;
    box-shadow: inset 0 2px 6px 4px var(--second-color-25);
    display: flex;
    justify-content: center;
    align-items: center;
}
#cardContainer .productCard.selected {
    border: 4px solid var(--active-color);
    box-shadow: inset 0 0 24px 6px var(--active-color-25);
}
#cardContainer .productCard img {
    width: 35%;
    aspect-ratio: 1;
    object-fit: contain;
    margin-right: 20px;
}
#cardContainer .productCard div {
    display: flex;
    flex-direction: column;
    width: 55%;
}
#cardContainer .productCard .productName {
    font-family: "Krona One", sans-serif;
    font-size: calc(1.625rem / var(--column-count) * 4);
    color: var(--first-color);
    text-shadow: 2px 2px var(--first-color-25);
    max-width: 100%;
}
#cardContainer .productCard .productPrice {
    margin-top: 10px;
    font-size: calc(1.125rem / var(--column-count) * 4);
    color: var(--first-color);
    text-shadow: 2px 2px var(--first-color-25);
    max-width: 100%;
}
#cardContainer .productCard .productBarcode {
    position: absolute;
    top: 6px;
    right: 6px;
    font-size: calc(0.875rem / var(--column-count) * 4);
}
#pagination {
    width: 100%;
    padding: 3px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
#pagination .paginationButtons {
    font-size: 2rem;
    background-color: var(--active-color);
    color: white;
    box-shadow: 0 1px 2px 2px var(--active-color-25);
    border: none;
    border-radius: 24px;
    padding: 7px 24px;
    margin: 0 16px;
}
#pagination .paginationButtons:disabled {
    opacity: 50%;
    box-shadow: none;
}
#pageInfo {
    font-size: 1.125rem;
    font-weight: 800;
    padding: 0 24px;
}
#filterValue {
    font-size: 1.125rem;
    margin-top: 6px;
    margin-bottom: 8px;
}
#filterValue span {
    font-size: 1.325rem;
    font-weight: 600;
}
/* productList end */

/* categoryList start */
#categoryList {
    position: relative;
    width: 100%;
    min-height: 256px;
    background-color: var(--first-color);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 20px;
    align-items: center;
}
#mainCategories {
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
}
#mainCategoryContainer {
    width: 100%;
    display: flex;
    padding: 0 2px;
    overflow: hidden;
}
#mainCategories.carousel #mainCategoryContainer{
    padding: 0 60px;
}
#mainCategoryContainer .mainCategory {
    width: calc((100% / var(--bar-count)));
    min-width: calc((100% / var(--bar-count)) - 20px);
    margin: 2px;
    padding: 6px 10px;
    border: 1px solid var(--second-color);
    background-color: var(--second-color-50);
    color: white;
    box-shadow: inset 0 0 12px var(--first-color);
    border-radius: 6px 6px 0 0;
}
#mainCategoryContainer .mainCategory.active {
    background-color: var(--active-color);
    border: 1px solid var(--active-color);
}
#mainCategoryContainer .mainCategory span {
    font-family: "Inria Sans", sans-serif;
    max-width: 100%;
    font-size: 2.25rem;
    font-weight: 800;
}
#subCategories {
    width: 100%;
    display: flex;
    align-items: center;
    overflow: hidden;
    position: relative;
    margin-bottom: 12px;
    padding: 6px 0;
    height: 100%;
}
#subCategoryContainer {
    width: 100%;
    height: 100%;
    padding: 0 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    transition: transform 0.3s ease;
}
#subCategoryContainer .subCategory {
    width: calc(100% / var(--bar2-count));
    min-width: calc(100% / var(--bar2-count) - 60px);
    height: 100%;
    margin: 0 20px;
    padding: 8px;
    border: 1px solid var(--first-color);
    background-color: #fff;
    box-shadow: 0 0 2px 2px var(--first-color);
    border-radius: 12px;
    flex-direction: column;
    opacity: 85%;
}
#subCategoryContainer .subCategory.active {
    opacity: 100%;
    border: 4px solid var(--active-color);
    padding: 4px;
}
#subCategoryContainer .subCategory img {
    width: 140px;
    height: 90px;
    object-fit: contain;
}
#subCategoryContainer .subCategory span {
    margin-top: 6px;
    font-family: "Krona One", sans-serif;
    font-weight: 400;
    font-style: normal;
    max-width: 100%;
    font-size: 1.5rem;
    color: var(--first-color);
    text-shadow: 2px 1px var(--first-color-25);
    max-width: 100%;
}
.carousel-btn {
    position: absolute;
    cursor: pointer;
    font-size: 1.75rem;
    background-color: var(--active-color);
    color: white;
    box-shadow: 0 1px 2px 2px var(--active-color-25);
    border: none;
    border-radius: 12px;
    padding: 6px 12px;
}
#subCategories .carousel-btn {
    font-size: 2rem;
    padding: 8px 16px;
    border-radius: 50%;
}
.carousel-btn.left {
    left: 12px;
}
.carousel-btn.right {
    right: 12px;
}
.carousel-btn.disabled {
    display: none;
}
.carousel .carousel-btn.disabled {
    display: block;
    opacity: 50%;
}
#goBackCategory {
    position: absolute;
    left: 0;
    top: -58px;
    padding: 10px 16px;
    display: none;
    justify-content: center;
    align-items: center;
}
#goBackCategory.show {
    display: flex;
}
#goBackCategory button {
    display: flex;
    font-size: 2.5rem;
    color: white;
    background-color: var(--red);
    border: none;
    padding: 0 24px;
    border-radius: 6px;
}
#goBackCategory span {
    color: var(--first-color);
    font-size: 1.25rem;
    font-weight: 600;
    margin-left: 20px;
    max-width: 250px;
}
/* categoryList end */

/* productDetail start */
#productDetail {
    flex-grow: 1;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid var(--first-color);
    border-right: none;
    border-radius: 2px;
    background-color: var(--third-color-25);
}
#productDetailDiv {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    /* height: 100%; */
    padding: 32px;
    /* align-items: start; */
}
#productDetailDiv.show {
    display: flex;
}
#selectedProduct {
    width: 100%;
    display: flex;
    margin-bottom: 40px;
}
#productButtons {
    width: 100%;
}
#productButtons button {
    font-size: 2.75rem;
    font-weight: 600;
    padding: 10px 24px;
    border: 2px solid var(--active-color);
    border-radius: 12px;
    background-color: white;
    color: var(--active-color);
    box-shadow: 0 1px 3px 2px var(--active-color-25);
}
#productButtons button:first-child {
    margin-right: 24px;
}
#productButtons button:last-child {
    margin-left: 24px;
}
#chooseProductDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    font-size: 1.75rem;
    padding: 40px;
    text-align: center;
}
#chooseProductDiv.unshow {
    display: none;
}
#productDetailImg {
    width: 42%;
    aspect-ratio: 1;
    object-fit: contain;
    object-position: center;
    background-color: white;
    border: 2px solid var(--first-color);
    border-radius: 24px;
}
#productDetailDiv .generalDetails {
    padding: 12px 6px 12px 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}
#productDetailDiv .generalDetails div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}
#productDetailName {
    font-size: 2rem;
    color: var(--first-color);
    text-shadow: 2px 2px var(--first-color-25);
    max-width: 100%;
    margin-bottom: 16px;
}
#productDetailPrice {
    font-size: 1.5rem;
    color: var(--first-color);
    text-shadow: 2px 2px var(--first-color-25);
    max-width: 100%;
}
#productDetailBarcode {
    font-size: 1.0625rem;
    font-weight: 600;
    margin-bottom: 10px;
}
/* productDetail end */

/* numpad start */
#numpad {
    margin-top: 10px;
    width: 100%;
    height: 60%;
    border: 3px solid var(--first-color);
    border-right: none;
    border-radius: 2px;
    display: flex;
    flex-direction: column;
}
#numpadContainer {
    --keypad-wrapper-bg-color: var(--first-color);
    --keypad-wrapper-border-radius: 2px;

    --keypad-key-bg-color: var(--second-color-25);
    --keypad-key-fg-color: white;
    --keypad-key-active-bg-color: #f7f7f7;
    --keypad-key-disabled-bg-color: #444;
    --keypad-key-disabled-box-shadow: none;
    --keypad-key-border: 2px solid var(--first-color);
    --keypad-key-border-radius: 2px;
    --keypad-key-box-shadow:inset 0px 0px 16px 24px var(--first-color-25);

    --keypad-key-delete-color: var(--red);

    --keypad-input-bg-color: #f7f7f7;
    --keypad-input-fg-color: #444;
    --keypad-input-placeholder-color: #a0a0a0aa;

    width: 100%;
    height: 100%;
    max-height: calc(100% - 80px);
    min-height: calc(100% - 130px);
    font-size: 1.8rem;
}
#numpadContainer .keypad-header {
    border: 2px solid #000;
}
#numpadContainer .keypad-header input {
    padding: 4px 24px;
}
#numpadTopButtons {
    width: 100%;
    height: 80px;
    display: flex;
    background-color: var(--first-color);
}
#numpadTopButtons button {
    width: 100%;
    background-color: var(--second-color-10);
    box-shadow: inset 0px 0px 16px 24px var(--first-color-25);
    border: none;
    border-right: 2px solid #000;
    color: #fff;
    font-size: 1.25rem;
}
#sellerman {
    width: 100%;
    height: 50px;
    padding: 0 20px;
    background-color: var(--first-color);
    border: 1px solid #000;
    color: #fff;
    display: var(--sellerman);
    justify-content: space-between;
    align-items: center;
    font-size: 1.25rem;
}
/* numpad end */

/* resolution-warning start */
#resolution-warning {
    display: none;
    flex-direction: column;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 20px;
    text-align: center;
    font-size: 1.125rem;
    border-radius: 10px;
    z-index: 1000;
}
#resolution-warning span:first-child {
    margin-bottom: 10px;
}
@media (max-width: 1023px) {
    #content {
        display: none;
    }
    #resolution-warning {
        display: flex;
    }
}
@media (max-height: 639px) {
    #content {
        display: none;
    }
    #resolution-warning {
        display: flex;
    }
}
/* resolution-warning end */

/* mobile start */
/* 1920x1080 - 1600x900 */
@media (max-width: 1919px), (max-height: 1079px) {
    html {
        font-size: calc(var(--base-font-size) - 2px); /* 1rem */
    }
    #electionSide {
        width: 72%;
    }
    #transactionSide {
        width: calc(28% - 80px);
    }
    #buttonsSide {
        width: 80px;
    }
    #topBar {
        padding: 20px 10px;
    }
    #categoryList {
        min-height: 200px;
        padding-top: 0;
    }
    #mainCategoryContainer .mainCategory {
        padding: 4px;
    }
    #mainCategoryContainer .mainCategory span {
        font-size: 2rem;
    }
    #subCategories {
        margin-bottom: 0;
        padding: 10px 0;
    }
    #subCategoryContainer .subCategory img {
        height: 64%;
    }
    #subCategoryContainer .subCategory span {
        font-size: 1.35rem;
    }
    #productButtons button {
        font-size: 2rem;
        padding: 8px 20px;
    }
    #numpad {
        height: 55%;
    }
    #numpadTopButtons {
        height: 60px;
    }
    #numpadContainer {
        max-height: calc(100% - 60px);
        min-height: calc(100% - 110px);
    }
}
/* 1600x900 - 1368x768 */
@media (max-width: 1599px), (max-height: 899px) {
    html {
        font-size: calc(var(--base-font-size) - 4px); /* 1rem */
    }
    #topBar {
        padding: 12px;
    }
    #productDetailDiv {
        padding: 20px;
    }
    #productDetailImg {
        border-radius: 16px;
    }
    #categoryList {
        min-height: 140px;
    }
    #mainCategoryContainer .mainCategory span {
        font-size: 2.25rem;
    }
    #subCategoryContainer .subCategory span {
        font-size: 1.75rem
    }
    #subCategoryContainer .subCategory img {
        display: none;
    }
    #goBackCategory {
        padding: 4px 8px;
        top: -40px;
    }
    #goBackCategory button {
        font-size: 2.25rem;
    }
    #goBackCategory span {
        margin-left: 6px;
        font-size: 1rem;
    }
    #buttonsSide {
        padding: 24px 4px 24px 4px;
    }
    #buttonsSide nav button {
        margin-top: 6px;
    }
}
/* 1368x768 - 1024x720 */
@media (max-width: 1367px) {
    html {
        font-size: calc(var(--base-font-size) - 6px); /* 1rem */
    }
    #electionSide {
        width: 66%;
    }
    #transactionSide {
        width: calc(34% - 60px);
    }
    #buttonsSide {
        width: 60px;
    }
    #cardContainer .productCard {
        flex-direction: column;
    }
    #cardContainer .productCard img {
        margin-right: 0;
        margin-top: 8px;
        margin-bottom: 6px;
    }
    #cardContainer .productCard div {
        width: 100%;
        align-items: center;
        text-align: center;
    }
    #cardContainer .productCard .productPrice {
        display: none;
    }
    #productDetailDiv {
        padding: 10px;
    }
    #productDetailImg {
        border-radius: 10px;
    }
    #goBackCategory {
        flex-direction: column-reverse;
        top: -42px;
    }
    #goBackCategory button {
        font-size: 2rem;
    }
    #goBackCategory span {
        margin-bottom: 2px;
        font-size: 1rem;
    }
}
/* mobile end */